@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



body {
  background: whitesmoke;
}

.App {
  margin: 0;
  padding: 0;
  top: 0;
  text-align: center;
  font-size: 16px;
}

a {
  text-decoration: none;
  color:#16C79A;
  font-weight: 500;
}

a.heading {
  text-decoration: none;
  color: white;
  font-weight: 800;
}

a.navlink {
  color: black;
}

a.github {
  color:"white";
}



